.password-container {
    display: flex;
    align-items: center;
  }
  
  .passwowrd-input {
      background: #FFFFFF;
      border: 1px solid rgb(183, 201, 196);
      box-sizing: border-box;
      border-radius: 10px;
      height: 40px;
      min-width: 400px;
      padding-left: 10px;
  }
  
    .status-style {
      position: relative;
      right: 55px;
    }
    
    .indicator-container {
      display: flex;
      flex-direction: row;
    }
  
    .meter-container{
       display: flex;
      flex-direction: row;
      /* padding-left: 14px; */
    }
    
    .red-indicator {
      background: #DF2222;
      border: 2px solid #FFFFFF;
      border-radius: 6px;
       padding: 3px;
      min-width: 100px;
    }
    
    .fair-indicator {
      background: #FFB660;
      border: 2px solid #FFFFFF;
      border-radius: 6px;
       padding: 3px;
      min-width: 100px;
    }
    
    .strong-indicator {
      background: #3CB170;
      border: 2px solid #FFFFFF;
      border-radius: 6px;
       padding: 3px;
      min-width: 100px;
    }
  
    .gray-indicator {
      background: #E8E8E8;
      border: 2px solid #FFFFFF;
      border-radius: 6px;
      padding: 3px;
      min-width: 100px;
    }
  
  